
NODE_ENV="dev or production"
RESOURCE_REQUEST_TOPIC=arn:aws:sns:ap-southeast-7:xxx:resource-request
VALKEY_ENDPOINT=localhost
VALKEY_PORT=6379
PORT=3001
INCIDENT_SERVICE_URL=https://incident-gateway-859kfcr6.uk.gateway.dev/api/v1

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=resource_request
DB_PORT=5439
